* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #282b28;
}

.container {
  position: relative;
  top: 3rem;
  padding: 3rem;
  gap: 1rem;
  padding-bottom: 7rem;
}
.container img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 1.5rem;
}
.container div {
  position: relative;
}
.container div::after {
  content: "\f03d";
  position: absolute;
  font-family: FontAwesome;
  bottom: 5%;
  right: 5%;
  color: #05b307;
  font-size: 3rem;
}
.container div::before {
  background-color: rgba(98, 94, 94, 0.7);
  padding: 0.5rem;
  content: "";
  bottom: 5%;
  left: 5%;
  position: absolute;
  color: white;
  font-weight: 600;
}
.container div:first-child::before {
  content: "Vaso";
}
.container div:nth-child(2)::before {
  content: "Marcel";
}
.container div:nth-child(3)::before {
  content: "Leo";
}
.container div:nth-child(4)::before {
  content: "Mounsif";
}
.container div:nth-child(5)::before {
  content: "Edwin";
}
.container div:nth-child(6)::before {
  content: "Dominik";
}
.container div:nth-child(7)::before {
  content: "Marwin";
}
.container div:nth-child(8)::before {
  content: "Stephi";
}
.container div:nth-child(9)::before {
  content: "Rahman";
}
.container div:nth-child(10)::before {
  content: "Vural";
}
.container div:nth-child(11)::before {
  content: "Hüseyin";
}
.container div:nth-child(12)::before {
  content: "Muhannad";
}
.container div:nth-child(13)::before {
  content: "Yaman";
}
.container div:nth-child(14)::before {
  content: "Zaid";
}
.container div:nth-child(15)::before {
  content: "Yaroob";
}
.container div:nth-child(16)::before {
  content: "Vladislava";
}
.container div:nth-child(17)::before {
  content: "Ammar";
}
.container div:nth-child(18)::before {
  content: "Ella";
}

header,
footer {
  background-color: black;
  color: aliceblue;
}

header {
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  z-index: 2;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
}
button {
  background-color: #f24423;
  color: aliceblue;
  padding-inline: 1.3rem;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  border: none;
}
button:hover {
  transition: 250ms ease-in;
  transform: scale(0.8);

  cursor: pointer;
  box-shadow: 0 0 15px white;
}
footer div:hover {
  transition: 250ms ease-in;
  transform: scale(0.8);
  cursor: pointer;
}

@media (min-width: 33em) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1rem;
    padding-inline: 4rem;
  }
  footer *,
  header {
    font-size: 1.2em;
  }
  button {
    padding-inline: 2.3rem;
  }
}

@media (min-width: 56em) {
  .container {
    display: grid;
    top: 60px;
    grid-template-columns: repeat(3, 1fr);

    padding-inline: 6rem;
  }
  footer * {
    font-size: 1.4em;
  }
  button {
    padding-inline: 2.5rem;
  }
}
@media (min-width: 85em) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 5rem;
    padding-inline: 6rem;
  }

  header {
    font-size: 2em;
  }
  button {
    padding-inline: 2.7rem;
  }
}

@media (min-width: 100em) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    top: 6rem;
    padding-inline: 6rem;
  }

  header {
    font-size: 2.2em;
  }
  button {
    padding-inline: 3rem;
  }
}
